.card {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 8rem;
  overflow: hidden;
  text-align: center;
  width: 8rem;
}

.card-wrapper {
  height: 100%;
  margin-bottom: 4px;
  position: relative;
  width: 100%;
}

.card-image {
  object-fit: cover;
}
