.card-definition {
  background-color: var(--color-gray-100);
  border-radius: 0.5rem;
  padding: 2rem;
}

.card-definition p {
  text-align: justify;
  text-justify: inter-word;
}

.heading {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.heading div {
  align-items: center;
  color: var(--color-gray-500);
  display: flex;
  gap: 0.5rem;
}

.heading h1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading span {
  color: var(--color-blue-600);
}

.card-benefits {
  align-items: center;
  border-radius: 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  padding: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.card-benefits span {
  grid-column: span 4;
}

.card-benefits div {
  grid-column: span 8;
}

.card-benefits h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.file-container {
  background-color: var(--color-gray-100);
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

@media screen and (width >= 480px) {
  .card-benefits {
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .card-benefits span {
    grid-column: span 4;
  }

  .card-benefits div {
    grid-column: span 8;
  }
}

@media screen and (width >= 764px) {
  .card-benefits {
    gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .card-benefits span {
    grid-column: span 3;
  }

  .card-benefits div {
    grid-column: span 9;
  }
}

@media screen and (width >= 1024px) {
  .card-benefits {
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .card-benefits span {
    grid-column: span 2;
  }

  .card-benefits div {
    grid-column: span 10;
  }
}
