.hero-container {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 92vh;
  padding: 4rem 0;
}

.hero-bg {
  z-index: 0;
  object-fit: cover;
  opacity: 0.8;
}

.hero-tagline {
  color: var(--color-gray-500);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.hero-title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.25;
  text-align: center;
  width: 100%;
}

.hero-subtitle {
  color: var(--color-blue-600);
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.25;
  text-align: center;
  width: 100%;
}

.hero-description {
  color: #4b5563;
  font-size: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

.hero-actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.hero-primary-button {
  background-color: var(--color-blue-600);
  border-radius: var(--border-radius-sm);
  color: #fff;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.2s;
  width: 15rem;
}

.hero-primary-button:hover {
  background-color: #1d4ed8;
  cursor: pointer;
}

.hero-secondary-button {
  border: 1px solid #6b7280;
  border-radius: var(--border-radius-sm);
  padding: 0.75rem 1.5rem;
  width: 15rem;
  transition: all 0.2s ease-in-out;
}

.hero-secondary-button:hover {
  color: var(--color-blue-600);
  background-color: rgba(37, 99, 235, 0.05);
  border: 1px solid var(--color-blue-600);
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .page-wrapper-grid {
    padding: 0 1.5rem;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1rem;
    max-width: 60rem;
  }
}

@media screen and (min-width: 768px) {
  .hero-actions {
    flex-direction: row;
  }

  .hero-description {
    max-width: 80rem;
  }

  .hero-title,
  .hero-subtitle {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .page-wrapper-grid {
    padding: 0 5rem;
  }

  .hero-description {
    font-size: 1.5rem;
    max-width: 80rem;
  }

  .hero-title,
  .hero-subtitle {
    font-size: 3rem;
  }
}
