.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 1rem 0;
  text-align: center;
}

.process-title {
  font-weight: 900;
  text-transform: capitalize;
}

.process-tagline {
  color: var(--color-gray-500);
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.container-card {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  place-items: stretch;
  text-align: center;
  width: 100%;
}

@media screen and (width >= 480px) {
  .process-title {
    font-size: 2.5rem;
  }

  .container {
    height: auto;
    min-height: auto;
    padding: 5rem 0;
  }

  .container-card {
    grid-template-columns: 1fr;
  }
}

@media screen and (width >= 768px) {
  .process-title {
    font-size: 2.75rem;
  }

  .container {
    height: auto;
    min-height: 100vh;
  }

  .container-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 1200px) {
  .process-title {
    font-size: 3.75rem;
  }

  .container-card {
    grid-template-columns: repeat(4, 1fr);
  }
}
