.container {
  animation-duration: 300s;
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  height: 87.5vh;
  margin: 1.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
