.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0rem;
  text-align: center;
}

.container button {
  display: flex;
  gap: 0.75rem;
  background-color: var(--color-blue-500);
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.container button:hover {
  opacity: 0.9;
}

.card-definition {
  display: grid;
  gap: 2rem;
}

.card-benefits {
  display: grid;
  gap: 2rem;
}

.container > div:last-child {
  font-size: 0.9rem;
  color: #6b7280;
}

@media screen and (min-width: 480px) {
  .card-definition {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-benefits {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .card-definition {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-benefits {
    grid-template-columns: repeat(2, 1fr);
  }
}
