.container {
  align-items: center;
  justify-content: center;
  margin: 5rem 0 2rem;
  min-height: 100vh;
  text-align: center;
}

.container h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1.25rem;
}

.container p {
  color: var(--color-gray-500);
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

.preview-link {
  background-color: var(--color-blue-500);
  border-radius: var(--border-radius-sm);
  color: white;
  font-size: 1.25rem;
  padding: 0.75rem;
}

.preview-link:hover {
  background-color: var(--color-blue-600);
}

.container-map {
  display: block;
  margin-inline: auto;
  margin-top: 2rem;
  padding: 1.5rem;
}

.container-map-border {
  border-radius: 2rem;
  overflow: hidden;
}

@media screen and (width >= 480px) {
  .container h1 {
    font-size: 2.5rem;
  }
}
