.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 92vh;
  padding: 2rem 0;
}

.card-container-highlight {
  border-radius: 0.5rem;
  display: grid;
  gap: 2rem;
}

.card-container {
  border-radius: 0.5rem;
  display: grid;
  gap: 1rem;
}

@media screen and (width >= 480px) {
  .card-container {
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (width >= 768px) {
  .card-container {
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 1024px) {
  .card-container {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .card-container-highlight {
    border-radius: 0.5rem;
    gap: 1rem;
  }
}
